/*LOADER ANIMATION*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.loader {
  height: 100%;
  background: #efefef;
  opacity: 1;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: charging 3s linear;
  visibility: hidden;
}
.loader__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0em;
  left: 0em;
  overflow: hidden;
}
.loader__background {
  position: relative;
  width: 120px;
  height: 120px;
  display: inline-block;
  animation: spin 1.3s linear infinite;
}
.loader__multicircles {
  border: 5px solid transparent;
  border-radius: 70px;
  border-top-color: #9356DC;
}
.loader__multicircles::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  opacity: 0.7;
  animation: spin 5s linear infinite;
}
.loader__multicircles::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  opacity: 0.8;
  animation: spin 10s linear infinite;
}
.loader__logo {
  margin-left: 1em;
  width: 15em;
}
.loader__txt {
  margin-bottom: 10px;
  margin-left: 8px;
  font-size: 3em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes charging {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*HEART ANIMATION*/
.heart {
  position: absolute;
}
.heart--empty {
  width: 27px;
  z-index: 1;
  fill: white;
  stroke: black;
}
.heart:hover .heart--full {
  opacity: 1;
  transform: scale(1);
}
.heart--full {
  width: 27px;
  z-index: 2;
  fill: url(#gradient);
  stroke: url(#gradient);
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s;
}

/* GENERAL SETTINGS */
body {
  margin: 0;
}

.logo {
  width: 160px;
}

main {
  display: flex;
  flex-direction: column;
}

* {
  font-style: normal;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  object-fit: cover;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

/*TYPOGRAPHIES*/
body, footer {
  font-family: "Roboto", sans-serif;
}

.btn {
  display: block;
  width: 190px;
  padding: 8px 3px;
  margin: 18px 0;
  line-height: 2;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
  box-shadow: 2px 8px 8px #d6d6d6;
  transition: transform 0.5s;
}
.btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/*HEADER HOMEPAGE*/
.header {
  line-height: 3;
}
.header__logo {
  text-align: center;
  margin-top: 22px;
}
.header__localisation {
  text-align: center;
  font-size: 14px;
  background-color: #d6d6d6;
  box-shadow: inset 0 3px 4px -4px #303030;
}
.header__localisation i {
  margin-right: 8px;
}

/*HOMEPAGE*/
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
  padding-bottom: 45px;
  background-color: #efefef;
}
.explore h2 {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}
.explore span {
  height: 30px;
  margin: 0 5px;
  font-size: 15px;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .explore {
    margin-bottom: 0;
    box-shadow: inset 0 3px 4px -4px #303030;
  }
}
@media (min-width: 1501px) {
  .explore {
    margin-bottom: 0;
    box-shadow: inset 0 3px 4px -4px #303030;
  }
}

.functioning {
  display: flex;
  flex-wrap: wrap;
}

.tabs {
  width: 100%;
  padding: 0 5%;
  display: block;
}
.tabs h2 {
  margin-bottom: 20px;
  font-size: 18px;
}
.tabs ol {
  counter-reset: li;
  padding: 0;
}
.tabs__container {
  margin-bottom: 80px;
}
.tabs__list {
  counter-increment: li;
}
.tabs li {
  background-color: #efefef;
  border-radius: 20px;
}
.tabs li:hover {
  transform: scale(1.02);
  box-shadow: 10px 5px 11px #d6d6d6;
  background-color: #f2eafb;
}
.tabs li:hover i {
  color: #9356DC;
}
.tabs__description {
  display: block;
  position: relative;
  height: 64px;
  margin-bottom: 20px;
  padding: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #303030;
  border-radius: 20px;
  box-shadow: 1px 5px 11px #d6d6d6;
}
.tabs__description::before {
  content: counter(li);
  position: absolute;
  left: -12px;
  top: 22px;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: normal;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.tabs__description--icone {
  font-size: 17px;
  text-align: center;
}
.tabs__description i {
  color: #353535;
  margin-right: 10px;
}
@media (min-width: 481px) and (max-width: 768px) {
  .tabs__list::before {
    top: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .tabs {
    padding: 0 3%;
  }
  .tabs ol {
    display: flex;
    justify-content: center;
  }
  .tabs ol a {
    width: 100%;
  }
  .tabs__list {
    width: 85%;
    padding: 0 1%;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .tabs {
    width: 30%;
    padding: 3% 3% 0 3%;
    box-shadow: inset 0 3px 4px -4px #303030;
  }
  .tabs__container {
    padding: 0px 3em;
  }
  .tabs__list::before {
    top: 21px;
  }
}
@media (min-width: 1501px) {
  .tabs {
    width: 30%;
    padding: 3% 3% 0 3%;
    box-shadow: inset 0 3px 4px -4px #303030;
  }
  .tabs__container {
    padding: 0px 3em;
  }
  .tabs__list::before {
    top: 21px;
  }
}

.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 3%;
  background-color: #efefef;
}
.restaurants__title {
  width: 100%;
  height: 35px;
  margin: 45px 0 20px 0;
  font-size: 18px;
}
.restaurants__cards {
  width: 100%;
  height: 270px;
  margin-bottom: 40px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 1px 5px 11px #d6d6d6;
}
.restaurants__cards:hover {
  transform: scale(1.02);
  box-shadow: 10px 5px 11px #d6d6d6;
}
.restaurants__description {
  margin-left: 15px;
  color: #000000;
}
.restaurants h3 {
  margin: 15px 0 8px 0;
  font-size: 15px;
}
.restaurants span {
  font-size: 14px;
}
.restaurants__heart {
  position: relative;
  display: flex;
  justify-content: flex-end;
  bottom: 43px;
  right: 50px;
  font-size: 30px;
}
.restaurants__img {
  height: 72%;
}
.restaurants__img img {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
}
.restaurants__info {
  position: relative;
}
.restaurants__info--new {
  position: absolute;
  width: 80px;
  height: 30px;
  right: 15px;
  top: 15px;
  text-align: center;
  line-height: 2.1;
  font-weight: bold;
  color: #278870;
  background-color: #99E2D0;
  border-radius: 2px;
}
@media (min-width: 481px) and (max-width: 768px) {
  .restaurants {
    display: flex;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .restaurants {
    justify-content: space-between;
  }
  .restaurants__cards {
    width: 48%;
    height: 235px;
  }
  .restaurants__img {
    height: 65%;
  }
  .restaurants__description {
    font-size: 17px;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .restaurants {
    justify-content: space-between;
    width: 70%;
    padding: 0px 3%;
    box-shadow: inset 0 3px 4px -4px #303030;
  }
  .restaurants__title {
    margin: 45px 0 8px 0px;
  }
  .restaurants__cards {
    width: 30%;
  }
  .restaurants__description {
    font-size: 17px;
  }
}
@media (min-width: 1501px) {
  .restaurants {
    justify-content: space-between;
    width: 70%;
    padding: 0px 3%;
    box-shadow: inset 0 3px 4px -4px #303030;
  }
  .restaurants__title {
    margin: 45px 0 8px 0px;
  }
  .restaurants__cards {
    width: 30%;
  }
  .restaurants__description {
    font-size: 17px;
  }
}

/*FOOTER*/
.footer {
  padding: 2% 3%;
  background-color: #303030;
}
.footer__logo {
  margin: 0;
  padding-top: 20px;
  font-family: "Shrikhand", cursive;
}
.footer__logo a {
  color: #ffffff;
  font-size: 18px;
}
.footer__list {
  margin-bottom: 10px;
}
.footer__list--description {
  padding: 5px 0;
  font-size: 15px;
}
.footer__list--description a {
  color: #ffffff;
}
.footer__list--description i {
  margin-right: 10px;
  font-size: 14px;
}
.footer__list--description i:nth-child(1) {
  width: 18px;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .footer__logo {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer__list ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .footer__logo {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer__list ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1501px) {
  .footer__logo {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .footer__list ul {
    display: flex;
    justify-content: space-between;
  }
}

.main {
  margin: auto;
}

.header2 {
  position: relative;
  text-align: center;
  padding: 12px 0;
  background-color: #ffffff;
}
.header2__icon {
  position: absolute;
  left: 3%;
  top: 26%;
  font-size: 22px;
  color: #303030;
}

.presentation {
  height: 355px;
}
.presentation__img {
  height: 100%;
  width: 100%;
}
@media (min-width: 1501px) {
  .presentation {
    height: 400px;
  }
}

.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #efefef;
  padding-bottom: 20px;
}
.menus__title {
  width: 100%;
  padding: 6% 0 0 6%;
  margin-top: -86px;
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  background-color: #efefef;
  border-radius: 45px 45px 0 0;
}
.menus__heart {
  position: relative;
  display: flex;
  justify-content: flex-end;
  bottom: 50px;
  right: 70px;
  font-size: 30px;
}
.menus__dishes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 3%;
  background-color: #efefef;
}
.menus__details {
  width: 100%;
}
.menus__title2 {
  position: relative;
  width: 100%;
  margin: 6% 0 5% 3%;
  font-size: 17px;
  font-weight: normal;
}
.menus__title2::before {
  position: absolute;
  content: "";
  bottom: -8px;
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
}
.menus__cards {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 5px 11px #d6d6d6;
}
.menus__cards:nth-of-type(1) {
  animation: menus 0.8s 0.5s both;
}
.menus__cards:nth-of-type(2) {
  animation: menus 1.1s 0.5s both;
}
.menus__cards:nth-of-type(3) {
  animation: menus 1.4s 0.5s both;
}
.menus__cards:nth-of-type(4) {
  animation: menus 1.7s 0.5s both;
}
.menus__cards:hover {
  transform: scale(1.02);
  box-shadow: 10px 5px 11px #d6d6d6;
}
.menus__cards:hover p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.menus__cards:hover span {
  margin-right: 3em;
}
.menus__cards:hover .menus__checking {
  transform: translateX(0%);
}
.menus__cards:hover i {
  transform: rotate(360deg);
}
.menus__cards a {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  width: 100%;
}
.menus__cards--subhead {
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.menus__cards--description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}
.menus__cards--description p {
  margin: 0;
}
.menus__cards--description span {
  font-weight: bold;
  transition: 0.5s ease;
}
.menus__checking {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0;
  transform: translateX(100%);
  transition: transform 0.2s;
}
.menus__checking i {
  margin: auto;
  font-size: 25px;
  color: white;
  transition: transform 0.5s;
}
@media (min-width: 481px) and (max-width: 768px) {
  .menus__title {
    padding: 4% 0 0 5%;
  }
  .menus__details {
    width: 100%;
  }
  .menus__title2 {
    margin: 5% 0 5% 2%;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .menus {
    width: unset;
    margin: 0 3%;
  }
  .menus__title {
    padding: 3% 0 0 3%;
  }
  .menus__dishes {
    padding: 0 2%;
    flex-wrap: unset;
    flex-wrap: wrap;
  }
  .menus__details {
    width: 100%;
  }
  .menus__title2 {
    margin-left: 2%;
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .menus {
    width: unset;
    margin: 0 3%;
  }
  .menus__cards:hover span {
    margin-right: 5em;
  }
  .menus__title {
    padding: 3% 0 0 3%;
  }
  .menus__dishes {
    padding: 0 2%;
    flex-wrap: unset;
    justify-content: space-between;
  }
  .menus__details {
    width: 31%;
  }
  .menus__title2 {
    margin-left: 3%;
  }
}
@media (min-width: 1501px) {
  .menus {
    width: unset;
    margin: 0 3%;
  }
  .menus__cards:hover span {
    margin-right: 5em;
  }
  .menus__title {
    padding: 3% 0 0 3%;
  }
  .menus__dishes {
    padding: 0 2%;
    flex-wrap: unset;
    justify-content: space-between;
  }
  .menus__details {
    width: 31%;
  }
  .menus__title2 {
    margin-left: 3%;
  }
}

@keyframes menus {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

/*# sourceMappingURL=.style.css.map */
