/*GENERAL SETTINGS*/
body {
    margin: 0;
}

.logo {
    width: 160px;
}

* {
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    object-fit: cover;
}

li {
     list-style: none;
 }
 
h1, h2, h3 {
    margin: 0;
}
