body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

* {
    font-style: normal;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    object-fit: cover;
}

 li {
     list-style: none;
 }
 
h1, h2, h3 {
    margin: 0;
}
