/*TYPOGRAPHIES*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

$font-title:'Shrikhand', cursive;
$font-txt:'Roboto', sans-serif;

body, footer {
    font-family: $font-txt;
}

