.main {
    margin: auto;
}
.header2 {
    position: relative;
    text-align: center;
    padding: 12px 0;
    background-color: $color-white;
    &__icon {
        position: absolute;
        left: 3%;
        top: 26%;
        font-size: 22px;
        color: $color-grey;
    }
}
.presentation {
    height: 355px;
    &__img {
        height: 100%;
        width: 100%;
    }
    @include x-large {
        height: 400px;
    }
}
.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $color-greymedium;
    padding-bottom: 20px;
    &__title {
        width: 100%;
        padding: 6% 0 0 6%;
        margin-top: -86px;
        font-family: $font-title;
        font-size: 27px;
        background-color: $color-greymedium;
        border-radius: 45px 45px 0 0;   
    }
    &__heart {
        position: relative;
        display: flex;
        justify-content: flex-end;
        bottom: 50px;
        right: 70px;
        font-size: 30px;
    }
    &__dishes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 3%;
        background-color: $color-greymedium;
    }
    &__details {
        width: 100%;
    }
    &__title2 {
        position: relative;
        width: 100%;
        margin: 6% 0 5% 3%;
        font-size: 17px; 
        font-weight: normal;
        &::before {
            position: absolute;
            content: "";
            bottom: -8px;
            width: 45px;
            height: 3px;
            background-color: $color-tertiary;
        }
    }
    &__cards {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        background-color: $color-white;
        border-radius: 20px;
        box-shadow: $shadow1;
        &:nth-of-type(1) {
            animation: menus 0.8s 0.5s both;
        }
        &:nth-of-type(2) {
            animation: menus 1.1s 0.5s both;
        }
        &:nth-of-type(3) {
            animation: menus 1.4s 0.5s both;
        }
        &:nth-of-type(4) {
            animation: menus 1.7s 0.5s both;
        }
        &:hover {
            transform: scale(1.02);
            box-shadow: $shadow2;
            & p {
                text-overflow: ellipsis;
                overflow: hidden;       
            }
            & span {
                margin-right: 3em;
            }
            & .menus__checking {
                transform: translateX(0%);
            }
            & i {
                transform: rotate(360deg);
            }
        }
        & a {
            display: flex;
            flex-wrap: wrap;
            color: $color-black;
            width: 100%;
        }
        &--subhead {
            width: 100%;
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: bold;  
        }
        &--description {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 14px;
            & p {
                margin: 0;
            } 
            & span {
                font-weight: bold;
                transition: 0.5s ease;
                &:hover {
                   
                }
            } 
        }
    }
    &__checking {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 18%;
        height: 100%;
        background-color: $color-tertiary;
        border-radius: 0px 20px 20px 0;
        transform: translateX(100%);
        transition: transform 0.2s;
        & i {
            margin: auto;
            font-size: 25px;
            color: white;
            transition: transform 0.5s;
        }
    }
    @include small {
        &__title {
            padding: 4% 0 0 5%;
        }
        &__details {
            width: 100%;
        } 
        &__title2 {
            margin: 5% 0 5% 2%; 
        }
    }
    @include medium {
        width: unset;
        margin: 0 3%;
        &__title {
            padding: 3% 0 0 3%;
        }
        &__dishes {
            padding: 0 2%;
            flex-wrap: unset;
            flex-wrap: wrap;
        } 
        &__details {
            width: 100%;
        } 
        &__title2 {
            margin-left: 2%;
        }
    }
    @include large {
        width: unset;
        margin: 0 3%;
        &__cards {
            &:hover {
                & span {
                    margin-right: 5em; 
                }
            }
        }
        &__title {
            padding: 3% 0 0 3%;
        }
        &__dishes {
            padding: 0 2%;
            flex-wrap: unset;
            justify-content: space-between;
        } 
        &__details {
            width: 31%;
        } 
        &__title2 {
            margin-left: 3%;
        }
    }
    @include x-large {
        width: unset;
        margin: 0 3%;
        &__cards {
            &:hover {
                & span {
                    margin-right: 5em; 
                }
            }
        }
        &__title {
            padding: 3% 0 0 3%;
        }
        &__dishes {
            padding: 0 2%;
            flex-wrap: unset;
            justify-content: space-between;
        } 
        &__details {
            width: 31%;
        } 
        &__title2 {
            margin-left: 3%;
        }
    } 
}
 
@keyframes menus {
    0% {
        transform: translateY(30%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
