/*PAGES MENUS*/
.main {
    margin: auto;
}

/*HEADER MENUS*/
.header2 {
    position: relative;
    text-align: center;
    padding: 12px 0;
    background-color: $color-white;
    &__icon {
        position: absolute;
        left: 3%;
        top: 26%;
        font-size: 22px;
        color: $color-grey;
    }
}

/*PRESENTATION IMAGE*/
.presentation {
    height: 355px;
    &__img {
        height: 100%;
        width: 100%;
    }
    @include x-large {
        height: 400px;
    }
}

/*MENUS*/
.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $color-greylight;
    padding-bottom: 35px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 6% 0 0 7%;
        margin-top: -86px;
        font-family: $font-title;
        font-size: 21px;
        background-color: $color-greylight;
        border-radius: 45px 45px 0 0; 
        & h1 {
            padding-right: 64px;
        }  
    }
    &__heart {
        position: relative;
        bottom: 11px;
        right: 60px;
    }
    &__dishes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 4%;
    }
    &__details {
        width: 100%;
        margin-bottom: 20px;
    }
    &__title2 {
        position: relative;
        width: 100%;
        margin: 6% 0 6% 3%;
        font-size: 17px; 
        font-weight: normal;
        &::before {
            position: absolute;
            content: "";
            bottom: -8px;
            width: 45px;
            height: 3px;
            background-color: $color-tertiary;
        }
    }
    &__cards {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        background-color: $color-white;
        border-radius: 20px;
        box-shadow: $shadow1;
        &:nth-of-type(1) { // animation menus
            animation: menus 1s 0.5s both;
        }
        &:nth-of-type(2) {
            animation: menus 1.3s 0.5s both;
        }
        &:nth-of-type(3) {
            animation: menus 1.6s 0.5s both;
        }
        &:nth-of-type(4) {
            animation: menus 1.9s 0.5s both;
        }
        &:hover { // animation check menus
            box-shadow: $shadow2;
            & p {
                text-overflow: ellipsis;
                overflow: hidden;       
            }
            & span {
                margin-right: 5em;
            }
            & .menus__checking { 
                transform: translateX(0%);
            }
            & i {
                transform: rotate(360deg);
            }
        }
        & a {
            display: flex;
            flex-wrap: wrap;
            color: $color-black;
            width: 100%;
        }
        &--subhead {
            width: 100%;
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: bold; 
           /* &:hover {
                overflow: hidden;
                text-overflow: ellipsis;  
            } */
        }
        &--description {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 14px;
            & p {
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            } 
            & span {
                font-weight: bold;
                transition: 0.5s ease;
            } 
        }
    }
    &__checking {
        display: flex;
        position: absolute;
        right: -1px;
        bottom: 0;
        width: 64px;
        height: 100%;
        background-color: $color-tertiary;
        border-radius: 0px 20px 20px 0;
        transform: translateX(100%);
        transition: transform 0.2s;
        & i {
            margin: auto;
            font-size: 25px;
            color: $color-white;
            transition: transform 0.5s;
        }
    }
    @include small {
        &__details {
            width: 100%;
        } 
        &__checking {
            width: 85px;
        }
        &__cards {
            &:hover span {
                margin-right: 6em;
            }
        }
    }
    @include medium {
        &__title {
            padding: 5% 0 0% 7%;
        }
        &__title2 {
            margin: 1% 0 3% 3%; 
        }
        &__checking {
            width: 85px;
        }
        &__cards {
            &:hover span {
                margin-right: 6em;
            }
        }
    }
    @include large {
        width: unset;
        margin: 0 3%;
        &__title {
            padding: 3% 0 0 3%;
        }
        &__dishes {
            padding: 0 2%;
            flex-wrap: unset;
            justify-content: space-between;
        } 
        &__details {
            width: 31%;
        } 
    }
    @include x-large {
        width: unset;
        margin: 0 3%;
        &__title {
            padding: 3% 0 0 3%;
        }
        &__dishes {
            padding: 0 2%;
            flex-wrap: unset;
            justify-content: space-between;
        } 
        &__details {
            width: 31%;
        } 
    } 
}

