.heart {
    position: relative;
    &--empty {
        position: absolute;
        z-index: 0;
        fill: turquoise;
    }
    &--full {
        position: absolute;
        z-index: 1;
        fill: transparent;
        &:hover {
            fill: $color-black;
        }
    }
}

       /* &::before {
            content: "\f004";
            transition: all 0.6s ease;
            /*transition-delay: 100ms;
        }
        &:hover::before {
            
            animation: remplissage 1000ms;
            
            /* background: linear-gradient(to top left, $color-primary 20%,$color-secondary); 
        }
        &  {
            fill: $color-black;
            &:hover {
                fill: transparent;
            }
        }
    }
    &__icon2 svg {
        z-index: 0;
        position: absolute;
        & path {
            fill: transparent;
            &:hover {
                fill: royalblue;
            }
        }
    }
}

@keyframes remplissage {
    100% {
        transform: scaleX(1);
    }
    0% {
        transform: scaleX(0);
    }*/

