.heart{ 
    position: absolute;
    &--empty{
        width: 27px;
        z-index:1;
        fill: white;
        stroke: black;
    }
    &:hover{
        .heart--full{
            opacity:1;
            transform: scale(1);
        }
    }
    &--full{
        width: 27px;
        z-index:2;
        fill: url(#gradient);
        stroke: url(#gradient);
        opacity: 0;
        transform: scale(0);
        transition: all 0.7s;
    }
}

   