//Media Queries
@mixin small {
    @media (min-width: $small-min) and (max-width: $small-max) {
      @content;
    }
}
@mixin medium {
    @media (min-width: $medium-min) and (max-width: $medium-max) {
        @content;
      }
}
@mixin large {
    @media (min-width: $large-min) and (max-width: $large-max) {
        @content;
    }
}
@mixin x-large {
    @media (min-width: $x-large-min) {
        @content;
    }
}

//Footer Logo size
@mixin logo-medium {
    font-size: 21px;
    margin: 0 2em 0 0;
}
@mixin logo-l-xl {
    font-size: 21px;
    margin: 0 4em 0 0;
}

//Images size
@mixin img-size {
    height: 100%;
    width: 100%;
}