// Colors
$color-primary: #9356DC;
$color-primarylight: lighten($color-primary, 30%);
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-tertiarydark: darken($color-tertiary, 40%);
$color-white:#ffffff;
$color-black:#000000;
$color-grey: rgb(53,53,53);
$color-greydark: lighten($color-grey, 60%);
$color-greymedium: lighten($color-grey, 70%);

//Breakpoints
$small-min: 481px;
$small-max: 768px;
$medium-min: 769px;
$medium-max: 1024px;
$large-min: 1025px;
$large-max: 1500px;
$x-large-min: 1501px;

//Ombres 
$shadow1: 2px 8px 8px $color-greydark;

//Photos
$alafrancaise: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.png);

