// Colors
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-white:#ffffff;
$color-grey: rgb(53,53,53);
$color-grey2: lighten($color-grey, 60%);
$color-grey3: lighten($color-grey, 70%);

//Breakpoints
$breakpoint: (
  "small"  : 768px,
  "medium" : 992px,
  "large"  : 1200px,
  "x-large" : 1400px
);



