.footer {
    padding: 0 5%;
    background-color: $color-grey;
    &__tabs h3 {
        margin: 0;
        padding: 25px 0 5px 0;
        font-family: $font-title;
        color: $color-white;
    }
    &__container {

    }
    &__list {
        margin-bottom: 10px;
        &--description {
            font-weight: normal;
            color: $color-white;
        }
        &--description i {
            width: 40px;
            font-size: 20px;
        }
    }
}