/*FOOTER*/
.footer {
    padding: 2% 3%;
    background-color: $color-grey;
    &__logo {
        margin: 0;
        padding-top: 20px;
        font-family: $font-title;
    }
    &__logo a {
        color: $color-white;
        font-size: 18px;
    }
    &__list {
        margin-bottom: 10px;
        & ul {
            padding: 0;
        }
        &--description {
            padding: 5px 0;
            font-size: 15px;
        }
        &--description a {
            color: $color-white;
        }
        &--description i {
            margin-right: 10px;
            font-size: 14px;
              &:nth-child(1) {
                width: 18px;
            }
        }
    }
    @include medium {
        display: flex;
        &__logo {
            & a {
                @include logo-medium;
            }
        }
        &__container {
            width: 100%;
            line-height: 2.5;
        }
        &__list {
            width: 100%;
        & ul {
            display: flex;
            justify-content: space-between;
            }
        }
    }
    @include large {
        display: flex;
        &__logo {
            & a {
                @include logo-l-xl;
            }
        }
        &__container {
            width: 100%;
            line-height: 2.5;
        }
        &__list {
            width: 100%;
        & ul {
            display: flex;
            justify-content: space-between;
            }
        }
    } 
    @include x-large {
        display: flex;
        &__logo {
            & a {
               @include logo-l-xl;
            }
        }
        &__container {
            width: 100%;
            line-height: 2.5;
        }
        &__list {
            width: 100%;
        & ul {
            display: flex;
            justify-content: space-between;
            }
        }
    } 
}