/*FOOTER*/
.footer {
    padding: 2% 3%;
    background-color: $color-grey;
    &__logo {
        margin: 0;
        padding-top: 20px;
        font-family: $font-title;
    }
    &__logo a {
        color: $color-white;
        font-size: 18px;
    }
    &__list {
        margin-bottom: 10px;
        &--description {
            padding: 5px 0;
            font-size: 15px;
        }
        &--description a {
            color: $color-white;
        }
        &--description i {
            margin-right: 10px;
            font-size: 14px;
              &:nth-child(1) {
                width: 18px;
            }
        }
    }
    @include medium {
        &__logo {
            font-size: 20px;
            margin-bottom: 30px;
        }
        &__list ul {
            display: flex;
            justify-content: space-between;
        }
    }
    @include large{
        &__logo {
            font-size: 20px;
            margin-bottom: 30px;
        }
        &__list ul {
            display: flex;
            justify-content: space-between;
        }
    } 
    @include x-large{
        &__logo {
            font-size: 20px;
            margin-bottom: 30px;
        }
        &__list ul {
            display: flex;
            justify-content: space-between;
        }
    } 
}