/*HEADER HOMEPAGE*/
.header {
    line-height: 3;
    &__logo {
        text-align: center;
        margin-top: 22px;
    }
    &__localisation {
        text-align: center;
        font-size: 14px;
        background-color: $color-greydark;
        box-shadow: inset 0 3px 4px -4px $color-grey;
        & i {
            margin-right: 8px;
        }
    }
}