/*HEADER HOMEPAGE*/
.header {
    line-height: 3;
    &__logo {
        text-align: center;
        margin-top: 22px; 
    }
    &__localisation {
        text-align: center;
        font-size: 14px;
        background-color: $color-greymedium;
        box-shadow: $shadowinset;
        & i {
            margin-right: 8px;
        }
    }
}