/*HOMEPAGE*/
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
    padding: 0px 43px 35px 43px;
    background-color: $color-greylight;
    & h2 {
        padding: 35px 0 15px 0;
        font-size: 20px;
        font-weight: bold;
    }
    & p {
        height: 30px;
        margin: 13px 0 20px 0;
        font-size: 18px;
    }
    @include large {
        margin-bottom: 0;
        box-shadow: $shadowinset;
    }
    @include x-large {
        margin-bottom: 0;
        box-shadow: $shadowinset;
    }
}

//BODY CONTAINER//
.functioning {
    display: flex;
    flex-wrap: wrap;
}

//NAVIGATION TABS//
.tabs {
    width: 100%; 
    margin-bottom: 50px;
    padding: 0 2em;
    & h2 {
        margin-bottom: 20px;
        font-size: 22px;
    }
    & ol {
        padding: 0 10px;
    }
    & li {
        counter-increment: li;
        background-color: $color-greylight;
        border-radius: 15px;
        &:nth-of-type(1) {
            animation: menus 1.8s 2.8s both;
        }
        &:nth-of-type(2) {
            animation: menus 2.1s 2.8s both;
        }
        &:nth-of-type(3) {
            animation: menus 2.4s 2.8s both;
        }
        &:nth-of-type(4) {
            animation: menus 2.7s 2.8s both;
        }
        &:hover i {
            color: $color-primary;
        }
    }  
    &__list {
        padding: 0;  
    }
    &__description { 
        display: block;
        position: relative;
        height: 64px;
        margin-bottom: 20px;
        padding: 24px 0px 24px 15px;
        font-size: 14px;
        font-weight: bold;
        color: $color-black;
        border-radius: 15px;
        box-shadow: $shadow1;
        transition: transform 0.5s ;
        &:hover {
            transform: scale(1.02);
            background-color: $color-primarylight;
            box-shadow: $shadow2;
        }
        & i {
            color: $color-grey;
            margin: 0 16px 0 12px;
        }
        &::before {
            content: counter(li);
            position: absolute;
            left: -12px;
            top: 22px;
            padding: 4px 8px;
            font-size: 13px;
            font-weight: normal;
            @if (lightness($color-black) > 50%) {
                color: $color-black;
            } @else {
                color: $color-white;
            }
            background-color: $color-primary;
            border-radius: 50%;
        }
        &--icone {
            font-size: 17px;
            text-align: center;
        }
    }
    @include small {
        padding: 0 10%;
        &__list {
            text-align: center;
            &::before {
                top: 40px;
            }
        }
    }
    @include medium {
        padding: 0 10%;
        &__list {
            text-align: center;
            &::before {
                top: 40px;
            }
        }
    }    
    @include large {
        width: 30%;
        padding: 3% 2% 0 4%;
        box-shadow: $shadowinset;
        & h2 {
            margin-bottom: 20px;
            font-size: 22px;
        }
        &__list {
            &::before {
                top: 21px;
            }
        }
        &__description {
            padding: 24px 0px 24px 11px;
            & i {
                margin: 0 12px 0 12px;
            }
        }
    }
    @include x-large {
        width: 30%;
        padding: 3% 2% 0 4%;
        box-shadow: $shadowinset;
        &_ h2 {
            margin-bottom: 20px;
            font-size: 22px; 
        }
        &__list{
            &::before {
                top: 21px;
            }
        }  
    } 
}

//RESTAURANTS BLOC//
.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 4% 8% 4%;
    background-color: $color-greylight;
    &__title {
        width: 100%;
        height: 35px;
        margin: 45px 0 6px 0;
        font-size: 22px;
    }
    & a {
        width: 100%;
    }
    &__cards {
        width: 100%;
        height: 260px;
        margin-bottom: 25px;
        border-radius: 13px;
        background-color: $color-white;
        box-shadow: $shadow1;
        &:nth-of-type(1) {
            animation: menus 2.4s 2.8s both;
        }
        &:nth-of-type(2) {
            animation: menus 2.8s 2.8s both;
        }
        &:nth-of-type(3) {
            animation: menus 3.1s 2.8s both;
        }
        &:nth-of-type(4) {
            animation: menus 3.2s 2.8s both;
        }
        &:hover{
            box-shadow: $shadow2;
        }
    }
    &__description {
        margin-left: 15px;
        color: $color-black;
        }
        & h3 {
            margin: 15px 0 5px 0;
            font-size: 18px;
        }
    &__heart {
        position: relative;
        display: flex;
        justify-content: flex-end;
        bottom: 43px;
        right: 50px;
        font-size: 30px;
    }
    &__img {
        height: 72%;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 13px 13px 0 0;
        }   
    }
    &__info {
        position: relative;
        font-size: 14px;
        &--new {
        position: absolute;
        width: 80px;
        height: 30px;
        right: 15px;
        top: 15px;
        text-align: center;
        line-height: 2.1;
        font-weight: bold;
        @if (lightness($color-tertiary) > 50%) {
            color: $color-tertiarydark;
        } @else {
            color: $color-tertiary;
        }
        background-color: $color-tertiary;
        border-radius: 2px;
        }
    }
    @include medium {
        justify-content: space-between;
        &__cards {
           width: 48%;
           height: 235px;
        }
        &__img {
           height: 65%;
        }
        &__description {
            font-size: 17px;
        }
    }
    @include large {
        justify-content: space-between;
        width: 70%;
        padding: 0 3% 2% 3%;
        box-shadow: $shadowinset;
        &__title {
            margin: 45px 0 8px 0px;
        }
        &__cards {
            width: 30%;
            height: 235px;
        }
        &__description {
            font-size: 17px;
        }
        &__heart {
            right: 34px;
        }
    } 
    @include x-large {
        justify-content: space-between;
        width: 70%;
        padding: 0 3% 2% 3%;
        box-shadow: $shadowinset;
        &__title {
            margin: 45px 0 8px 0px;
        }
        &__cards {
            width: 30%;
            height: 235px;
        }
        &__description {
            font-size: 17px;
        }
    } 
}

